<div class="col-md-6 offset-md-3">
  <div class="card text-white bg-light mb-3 mt-5">
    <div class="card-header text-center">Web Scraper</div>
    <div class="card-body">
      <h4 class="card-title text-center">Extract almost all links in any website</h4>
      <p class="card-text text-justify">This application will try to extract any link that it finds in the provided url and email you results in an excel file when it is done</p>
      <%= link_to("Get Started", new_scrape_path, { class: "btn btn-primary"}) %>
    </div>
  </div>
</div>
