<div class="text-center">
  <div>
    <div class="counter">
      <i class="fa fa-code fa-2x"></i>
      <h2 id="links-count" class="timer count-title count-number"></h2>
      <p class="count-text ">Links Scraped</p>
    </div>
  </div>
</div>