<div class="text-center">
  <div>
    <div class="counter">
      <h2 id="links-count" class="timer count-title count-number">0</h2>
      <p class="count-text ">Links Scraped</p>
    </div>
  </div>
</div>